{% extends "_templates/base.twig" %}
{% block content %}
<div class="content">

  {% if busStopData|default is empty %}
  <h1>Sorry, no such Bus Stop found.</h1>
  {% else %}
  <h1>Bus Stop No. <strong>{{ busStopData['bus_stopID'] }}</strong> - {{ busStopData['name'] }}, {{ busStopData['add_street'] }}</h1>
  
  <a href="bus-stop-directory/{{ busStopData['bus_stopID'] }}/map">See on map</a>
  
  <h2 class="title">{{ busStopData['services']['count'] }} Services at this Bus Stop</h2>
  
  <ul class="busTimings">
    {% for k in busStopData['services']['services'] %}
    <li>
      <div class="right">
        <div class="timeBox" id="{{ k['bus_serviceID'] }}_{{ busStopData['bus_stopID'] }}">
          <div>Click for<br>
            arrival time</div>
        </div>
      </div>
      <div class="left">
        <h2><a href="bus-directory/{{ k['bus_serviceID'] }}">{{ k['bus_serviceID'] }}</a></h2>
        First Bus: {{ k['time_firstBus']|date('H:i') }}h | Last Bus: {{ k['time_lastBus']|date('H:i') }}h</a><br>
        <span>From: {{ k['from'] }} | Destination {{ k['to'] }}</span>
      </div>
      <div class="push"></div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<script>
$.fn.preload = function() {
    this.each(function(){
        $('<img/>')[0].src = this;
    });
}
$(['img/ajax-loader.gif']).preload();

$('.timeBox').click(function(){
  var boxID = this.id;
  var boxIDArr = boxID.split('_');
  
  $('#'+boxID).html('<img src="img/ajax-loader.gif">');
 
  $.ajax({
    url: "buses-nearby/ajax_getBusTiming",
    type: "GET",
    dataType: "json",
    data: {
      busID: boxIDArr[0],
      stopID: boxIDArr[1]
    },
    success: function(data, json, jqXHR){
      // success
      var time=data.time;
      if (data.time!='NA'){
         time = '<span>'+time+'</span>';
      }
      
      $('#'+boxID).html(time);
    },
    error: function (jqXHR, textStatus, errorThrown){
      // error
    }
  });
});
</script>
{% endblock %}